@import "../../scss/variables";
.side-menu {
  border-right: 1px solid $border-light;
  position: sticky;
  top: 0;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  border: 0;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}
.bm-item:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $primary-light;
  height: 12% !important;
  border-radius: 10px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 10;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: $disabledGray;
  top: 0;
}
.bm-menu-wrap {
  top: 0;
}
