@import "../../scss/variables";
@import "../../scss/mixins";

.card {
  border-radius: $border-radius;
  transition: $transition;
  max-width: 250px;

  @include e(img) {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    min-height: 374px;
  }

  &:hover {
    background-color: $primary-light;
    box-shadow: $box-shadow;
    transform: $scal-sm;

    .card__title {
      color: $offwhite;
    }

    .card__img {
      box-shadow: none;
      border-radius: $border-radius $border-radius 0 0;
    }

    .rating {
      color: $light;
    }
  }
}
