@import "../../scss/variables";

.custom-navbar {
  &--mobile {
    background: $light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed !important;
    z-index: 2;
  }
}
