@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/mixins";

.grid-5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-gap: 3.571rem;
  margin-bottom: 3.571rem;
  justify-content: center;
}

a,
a:hover {
  text-decoration: none;
}
