@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/mixins";

// Margin & padding classes
$spaces: (0, 10, 20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240, 260, 280);
$sides: (top, bottom, left, right);
$screens: (xs, sm, md, lg, xl);

@each $screen in $screens {
  @include media-breakpoint-up($screen) {
    @each $space in $spaces {
      @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$screen}-#{$space} {
          margin-#{$side}: #{$space}px !important;
        }

        .my-#{$screen}-#{$space} {
          margin-top: #{$space}px !important;
          margin-bottom: #{$space}px !important;
        }

        .p#{str-slice($side, 0, 1)}-#{$screen}-#{$space} {
          padding-#{$side}: #{$space}px !important;
        }

        .py-#{$screen}-#{$space} {
          padding-top: #{$space}px !important;
          padding-bottom: #{$space}px !important;
        }

        .px-#{$screen}-#{$space} {
          padding-right: #{$space}px !important;
          padding-left: #{$space}px !important;
        }
      }
    }
  }
}