/* ============= Colors ============= */
$primary: #37474f;
$primary-dark: #263238;
$secondary: #546e7a;
$text: #444444;
$light-color: #b0bec5;
$offwhite: #fafafa;
/* ============= Fonts sizes ============= */
$large-bold: 2.857rem; // 40px
$large-light: 1.785rem; // 25px
$meduim-bold: 1.214rem; // 17px
$meduim-light: 0.785rem; // 11px
$regular-size: 1rem; // 14px
$button-text: 0.928rem; // 13px
/* ============= Fonts family ============= */
$bold: 'MontserratBold';
$regular: 'MontserratRegular';
$italic: 'MontserratItalic';
$extra-bold: 'MontserratExtraBold';
$thin: 'MontserratThin';
$light-font: 'MontserratLight';
$meduim-font: 'MontserratMedium';