/* ============= Colors ============= */
$primary: #37474f;
$primary-dark: #263238;
$secondary: #546e7a;
$text: #444444;
$light: #b0bec5;
$offwhite: #fafafa;
/* ============= Fonts ============= */
$large-bold: 2.857rem;
$large-light: 1.785rem; 
$meduim-bold: 1.214rem;
$meduim-light: 0.785rem;
$regular: 1rem;
$button-text: 0.928rem;