@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/mixins";
@import "../../scss/variables";

.image-wrapper {
  height: 100%;
  padding: 4rem;
  padding-top: 0;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.image {
  width: 100%;
  min-height: 670px;
  max-height: 100%;
  border-radius: 0.8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: $box-shadow-sm;
  @include media-breakpoint-down(md) {
    min-height: 350px;
  }
}
