@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/mixins";
@import "../../scss/variables";

.image-wrapper {
  padding-top: 0;
  // text-align: center;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.image {
  width: 90%;
  // min-height: 670px;
  // max-height: 100%;
  border-radius: 0.8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: $box-shadow-sm;
  @include media-breakpoint-down(md) {
    width: 50%;
    margin-bottom: 30px;
  }
}
